.order-container {
    display: flex;
    align-content: center;
    vertical-align: middle;
    min-height: 350px;
}

.order-container-success {
margin: auto;
text-align: center;

}

img{
    max-width: 200px;
}

.message {
    color: #333;
}

.message h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.message span {
    font-size: 18px;
    color: #777;
}